body{
	background-color: RosyBrown;
	font-family: arial;
}

div {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 200px;
  margin-left: 80px;
  background-color: AliceBlue;
  width: 300px;
  height: 700px;
  border: 15px solid lightskyblue;
  padding: 20x;
  text-align:center
}

p{
	word-spacing: -2px;
}

div2{
  margin-top: -100px;
  margin-bottom: 100px;
  margin-right: 0px;
  margin-left: 170px;
}
