body{
	background-color: ghostwhite;	
}

h3{
	color:green;
	font_size:12px;
}
p1{
	color:blue;
}

div {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
  background-color: AliceBlue;
  width: 300px;
  height: 400px;
  border: 15px solid lightskyblue;
  padding: 100px;
}

p{
	word-spacing: -2px;
}

div2{
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 30px;
}
